<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zcdh.mobile"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 添加操作闪光灯的权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 添加操作振动器的权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!---环信-->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <application
        android:name="com.zcdh.mobile.app.ZcdhApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@drawable/ic_luancher"
        android:label="@string/app_name"
        android:taskAffinity="com.zcdh.mobile"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="db-170d7a84ca84" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="tencent101043530" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait">
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name="com.zcdh.mobile.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 调用新浪原生SDK，需要注册的activity -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="cn.sharesdk.sina.weibo.SinaActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 从外部app访问职场导航app -->
        <activity android:name="com.zcdh.mobile.app.ZcdhAppBrowsableActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="view"
                    android:scheme="zcdh" />
            </intent-filter>
        </activity>

        <!-- 显示企业二维码 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.ent.EntQrcodeActivity_"
            android:screenOrientation="portrait"/>

        <!-- 二维码扫描 -->
        <activity
            android:name="com.zcdh.mobile.app.qrcode.QRScanActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppThemeNoActionBar"/>

        <!-- 假期工/兼职 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.parttimer.PartTimerPostsListActivity_"
            android:screenOrientation="portrait"/>
        <!-- 兼职/假期工 筛选 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.parttimer.PartTimerAdvacedSearchActivity_"
            android:screenOrientation="portrait"/>

        <!-- 忘记密码，找回密码 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.security.ForgetPwdActivity_"
            android:screenOrientation="portrait" />
        <!-- 企业搜索 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.ent.SearchPostsByEntActivity_"
            android:screenOrientation="portrait" />
        <!-- 绑定手机 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.security.BindEmailActivity_"
            android:screenOrientation="portrait" />
        <!-- 绑定手机 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.security.BindMobileActivity_"
            android:screenOrientation="portrait" />
        <!-- 账号管理 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.security.AccountManagerActivity_"
            android:screenOrientation="portrait" />
        <!-- 新用户注册 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.register.VerificationCodeActivity_"
            android:screenOrientation="portrait" />
        <!-- 新用户注册后，修改密码 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.register.PasswdForAccount_"
            android:screenOrientation="portrait" />
        <!-- 新用户绑定 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.register.BindAccountActivity_"
            android:screenOrientation="portrait" />

        <!-- 启动页面 -->

        <activity
            android:name="com.zcdh.mobile.app.activities.start_at.LoadingActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/welcome_page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 新用户系统引导 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.start_at.GettingStartedActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>

        <!-- 主页面 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.main.NewMainActivity_"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>

        <!-- android:theme="@style/style_tabpageindicator" -->

        <activity
            android:name="com.zcdh.mobile.app.activities.search.SearchResultsActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/tab_page_indicator_zcdh"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.search.AdvancedSearchActivity_"
            android:screenOrientation="portrait"/>
        <!-- 登录 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.auth.LoginActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <!-- 湖北公共招聘网登录入口 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.auth.LoginByHBActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.AddEduExpActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.AddTranningExpActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.SchoolFinderActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.SelfEvaluationActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.FavoritePostActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.auth.ResetPwdByEmailActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.security.UpdatePwdActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.auth.UpdateEmailActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.BasicInfoActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.EducationBackgroundActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.EnterpriseBlackList_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.SkillEditActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.LanguageEditActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <!-- 设置主页 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.settings.SettingsHomeActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.settings.CheckForUpgradeActivity_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.zcdh.mobile.app.activities.search.AreaActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.search.CategoryPostActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.search.CategoryMajorActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.search.IndustryActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.search.ParamsActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.search.PostsActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.search.MajorsActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.search.CertificateFinderActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.detail.EntAlbumActivity_"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.zcdh.mobile.app.activities.detail.DetailsFrameActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zcdh.mobile.app.activities.detail.PostApplyActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.detail.SuperviseActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.detail.MoreProductsActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zcdh.mobile.app.activities.detail.EntCommentActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.detail.CompanyCommentsActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.ResumeActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.PurposeActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.SubscriptionActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.SubscriptionAddActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.WinningExperienceActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.WinningExpAddActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.PracticalExperienceActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.PracticalExpAddActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.WorkExperienceActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.WorkExpAddActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.settings.FeedBackActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.settings.AboutActivity_"
            android:screenOrientation="portrait"/>
        <!-- vacation -->
        <activity
            android:name="com.zcdh.mobile.app.activities.vacation.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.vacation.OrderDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.vacation.PurchaseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.vacation.SummerjobsPostApplyActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.vacation.TrackOrderActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.vacation.OrdersActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.settings.PushSettingActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.views.photopicker.CropImage"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.vacation.SubscriptionActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".app.activities.base.PhotoBrowser_"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeActionBarOverlay"
            />

        <receiver android:name="com.zcdh.mobile.app.activities.vacation.payment.AppRegister">
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.zcdh.mobile.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <!-- 选择或拍照照片 -->

        <activity
            android:name="com.zcdh.mobile.framework.activities.FWPhotoPickerActivity"
            android:screenOrientation="portrait"/>

        <!-- 企业主页 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.ent.MainEntActivity_"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.ent.MainEntProductDetailActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zcdh.mobile.app.activities.ent.MainEntFansActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zcdh.mobile.app.activities.ent.MainEntLiuyanActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.zcdh.mobile.app.activities.ent.MainEntJiucuoActivity_"
            android:screenOrientation="portrait" />
        <!-- 应用 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.newsmodel.NewsListActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.newsmodel.NewsListSpecialActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.newsmodel.NewsBrowserActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.messages.MessageFromEntActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.messages.AppliedPostStatusActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.job_fair.JobFairsActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.job_fair.JobFairDetailFragmentNew_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.job_fair.ParticipantsIndustryActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.job_fair.JobFairDetailActivityNew_"
            android:screenOrientation="portrait"
            android:theme="@style/style_tabpageindicator_middle_font"/>

        <!-- 周边 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.nearby.PoiSearchActivity_"
            android:screenOrientation="portrait"/>

        <!-- framework activities -->
        <activity
            android:name="com.zcdh.mobile.framework.activities.FWSpeechRecognizerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SpeechRecongizer"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.messages.JobApplicationActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.messages.AccessActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.EditEduExpActivity_"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.personal.EditTranningExp_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.messages.InterviewInvitationActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.nearby.AddMoreFuncActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.job_fair.ParticipantsPositionActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.job_fair.ParticipantsEnterprisesActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.newsmodel.AddMoreDiscoverActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.detail.NavigatorActivity_"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zcdh.mobile.app.activities.job_fair.RegistrationListActivity_"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zcdh.mobile.app.activities.messages.SystemNotificationActivity_"
            android:screenOrientation="portrait" />

        <!-- 系统引导 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.settings.UserGuideActivity_"
            android:screenOrientation="portrait" />

        <!-- 开启匹配度 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.settings.PostMatchSettingActivity_"
            android:screenOrientation="portrait"/>
        <!-- 匹配度详情 -->
        <activity
            android:name="com.zcdh.mobile.app.activities.nearby.MatchDetailsActivity_"
            android:screenOrientation="portrait"/>

        <!-- 定位 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <!-- BAIDU Push -->
        <!-- push应用定义消息receiver声明 -->
        <receiver android:name="com.zcdh.mobile.app.push.MyPushMessageReceiver">
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1">
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />

        <!-- push结束 -->

        <!-- AppID -->
        <meta-data
            android:name="APPID"
            android:value="1"/>

        <!-- 友盟统计api key-->

        <!-- 开发时用 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="55a5cd3f67e58e5412002143"/>

        <!--         发布时用 -->
        <!-- <meta-data
             android:name="UMENG_APPKEY"
             android:value="55adf1ed67e58ec65e001171"/>-->

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="zcdh" />

        <!-- 百度地图api_key -->
        <!-- 开发时用 -->

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="IEAdy848YvtjH9iVkGuVdbn2" />
        <!-- 发布时用 -->
        <!--<meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fRAZ70c74qQHYmrOGQAANfzy" />-->

        <!-- 设置环信应用的appkey  开发时用
        <service android:name="com.easemob.chat.EMChatService" />
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="zcdh#zcdh-test" />
        -->
        <!-- 设置环信应用的appkey  预览环境时用 -->
        <service android:name="com.easemob.chat.EMChatService" />
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="zcdh#zcdh-preview" />

        <!-- 设置环信应用的appkey  正式版发布时用 -->
        <!--<service android:name="com.easemob.chat.EMChatService" />
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="zcdh#zcdh-release" />-->

        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 环信对应的界面Activity-->

        <activity
            android:name=".app.activities.messages.ChatActivity_"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.huanxin.activity.ImageGridActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.huanxin.activity.ShowBigImage"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBar"/>
        <activity
            android:name="com.huanxin.activity.ShowNormalFileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.huanxin.activity.ShowVideoActivity"
            android:screenOrientation="portrait"/>
        <!-- 自定义的contextmenu -->
        <activity
            android:name="com.huanxin.activity.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>



    </application>

</manifest>
